commons/common-xml/src/main/resources/scheme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mxGraphModel">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="root">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mxCell" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="mxGeometry" minOccurs="0">
                                            <xs:complexType>
                                                <xs:attribute type="xs:int" name="x" use="optional"/>
                                                <xs:attribute type="xs:int" name="y" use="optional"/>
                                                <xs:attribute type="xs:int" name="width" use="optional"/>
                                                <xs:attribute type="xs:int" name="height" use="optional"/>
                                                <xs:attribute type="xs:string" name="as" use="optional"/>
                                                <xs:attribute type="xs:byte" name="relative" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:int" name="id" use="optional"/>
                                    <xs:attribute type="xs:int" name="parent" use="optional"/>
                                    <xs:attribute type="xs:string" name="style" use="optional"/>
                                    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
                                    <xs:attribute type="xs:byte" name="edge" use="optional"/>
                                    <xs:attribute type="xs:int" name="source" use="optional"/>
                                    <xs:attribute type="xs:int" name="target" use="optional"/>
                                    <xs:attribute type="xs:string" name="value" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>